In [30]:
import sys
import os
repo_root = r"D:\edu_laptop\Ironhack_AI_&_DataScience\Month_1_2\Week5\Tusday\ml-model-git-lab"
sys.path.insert(0, repo_root)

In [31]:
import importlib
import src.eda_credit_history
importlib.reload(src.eda_credit_history)

In [32]:
import pandas as pd
import numpy as np
from src.eda_credit_history import CreditHistoryEDA, credit_history_report

In [33]:
print(src.eda_credit_history.__file__)

D:\edu_laptop\Ironhack_AI_&_DataScience\Month_1_2\Week5\Tusday\ml-model-git-lab\src\eda_credit_history.py

In [34]:
df = pd.read_csv("D:\edu_laptop\Ironhack_AI_&_DataScience\Month_1_2\Week5\Monday\loan.csv") 
df.head(3)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4312\1681293082.py:1: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:\edu_laptop\Ironhack_AI_&_DataScience\Month_1_2\Week5\Monday\loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
default_map = {
    "Fully Paid": 0,
    "Current": 0,
    "In Grace Period": 0,
    "Issued": 0,
    "Does not meet the credit policy. Status:Fully Paid": 0,

    "Charged Off": 1,
    "Default": 1,
    "Late (31-120 days)": 1,
    "Late (16-30 days)": 1,
    "Does not meet the credit policy. Status:Charged Off": 1
}

In [36]:
df["loan_status_binary"] = df["loan_status"].map(default_map)

In [37]:
#Instantiate the EDA class:
eda = CreditHistoryEDA(df, target_col="loan_status_binary")

In [38]:
df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [39]:
#Run the report:
report = credit_history_report(eda)

D:\edu_laptop\Ironhack_AI_&_DataScience\Month_1_2\Week5\Tusday\ml-model-git-lab\src\eda_credit_history.py:62: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = self.df.groupby(Buckets)[self.target_col].agg(n_loans="count", default_rate="mean").reset_index()
D:\edu_laptop\Ironhack_AI_&_DataScience\Month_1_2\Week5\Tusday\ml-model-git-lab\src\eda_credit_history.py:62: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = self.df.groupby(Buckets)[self.target_col].agg(n_loans="count", default_rate="mean").reset_index()
C:\Users\ASUS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\numpy\lib\_function_base_impl.py:2922: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\ASUS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\numpy\lib\_function_base_impl.py:2923: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [40]:
#Display at least:
report["structure_summary"] # structure of all credit-history columns

,column,dtype,n_missing,missing_pct,mean,std
0,dti,float64,0,0.000000,18.157039,17.190626
1,dti_joint,float64,886870,99.942640,18.310118,7.169233
2,delinq_2yrs,float64,29,0.003268,0.314442,0.862244
3,mths_since_last_delinq,float64,454312,51.197065,34.063798,21.884940
4,mths_since_last_record,float64,750326,84.555303,70.117903,28.127914
5,mths_since_last_major_derog,float64,665676,75.015974,44.104838,22.179841
6,open_acc,float64,29,0.003268,11.548469,5.317313
7,total_acc,float64,29,0.003268,25.268026,11.840561
8,pub_rec,float64,29,0.003268,0.195307,0.582091
9,acc_now_delinq,float64,29,0.003268,0.004991,0.077625
10,revol_bal,float64,0,0.000000,16920.787533,22426.791896
11,revol_util,float64,502,0.056571,55.067693,23.834344
12,total_rev_hi_lim,float64,70276,7.919502,32068.620045,37498.258326
13,tot_coll_amt,float64,70276,7.919502,225.702610,10311.367195
14,tot_cur_bal,float64,70276,7.919502,139458.189336,153749.966885
15,total_bal_il,float64,866007,97.591559,36552.811389,43103.833619
16,open_acc_6m,float64,866007,97.591559,1.109021,1.242675
17,open_il_6m,float64,866007,97.591559,2.928832,3.089987
18,open_il_12m,float64,866007,97.591559,0.761651,0.996035
19,open_il_24m,float64,866007,97.591559,1.674574,1.688725
20,mths_since_rcnt_il,float64,866569,97.654892,20.912686,27.209081
21,open_rv_12m,float64,866007,97.591559,1.389060,1.520129
22,open_rv_24m,float64,866007,97.591559,2.975482,2.631886
23,max_bal_bc,float64,866007,97.591559,5887.979740,5284.701239
24,all_util,float64,866007,97.591559,60.831939,20.013254
25,inq_last_6mths,float64,29,0.003268,0.694623,0.998448
26,inq_last_12m,float64,866007,97.591559,1.977307,2.874067
27,inq_fi,float64,866007,97.591559,0.943945,1.446872
28,collections_12_mths_ex_med,float64,145,0.016340,0.014380,0.134191

In [41]:
report["dti_buckets"] # default rate by DTI bucket

               dti  n_loans  default_rate
0  (-0.001, 10.62]   177693      0.060019
1    (10.62, 15.4]   177520      0.063672
2    (15.4, 19.97]   177323      0.070487
3   (19.97, 25.53]   177519      0.077327
4  (25.53, 9999.0]   177324      0.073211

In [42]:
report["revol_util_buckets"] # default rate by revol_util bucket

       revol_util  n_loans  default_rate
0  (-0.001, 33.3]   177564      0.052978
1    (33.3, 49.1]   178278      0.060271
2    (49.1, 62.8]   177072      0.068243
3    (62.8, 77.5]   176707      0.076115
4   (77.5, 892.3]   177256      0.087021

In [43]:
report["correlation_with_default"] # correlation of each credit feature with default

dti                            0.008322
dti_joint                     -0.040340
delinq_2yrs                   -0.002174
mths_since_last_delinq        -0.006165
mths_since_last_record         0.043935
mths_since_last_major_derog   -0.014210
open_acc                      -0.017776
total_acc                     -0.019214
pub_rec                       -0.015158
acc_now_delinq                -0.000019
revol_bal                     -0.020264
revol_util                     0.046479
total_rev_hi_lim              -0.037400
tot_coll_amt                  -0.001642
tot_cur_bal                   -0.038387
total_bal_il                        NaN
open_acc_6m                         NaN
open_il_6m                          NaN
open_il_12m                         NaN
open_il_24m                         NaN
mths_since_rcnt_il                  NaN
open_rv_12m                         NaN
open_rv_24m                         NaN
max_bal_bc                          NaN
all_util                            NaN
inq_last_6mths                 0.082200
inq_last_12m                        NaN
inq_fi                              NaN
collections_12_mths_ex_med    -0.007635
Name: correlation_with_default, dtype: float64